.App {
  text-align: center;

}

.TestBorder {
  border: #282c34 1px solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: lightgreen;
  color: black;
}

.button.red {
  background-color: red;
}

.button.red:hover {
  background-color: red;
}
